Sonawane komal Nagraj
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

namespace ConsoleApplication1
{
    
    class Program
    {
        static void Main(string[] args)
        {
            int i=1,number=0;
            for(i=1;i<=10;i++)
          {
             Console.WriteLine("Enter a number");
            {
                if(i%2 == 0)
                {
                    Console.Write("value of i:{0}",i);
                }
            }
            }
        }
    }
}
